/* UBC Colours: */
:root {
  --ubc-blue: #002145;
  --ubc-white: #FFFFFF;
  --ubc-secondary-blue-1: #0055b7;
  --ubc-secondary-blue-2: #00a7e1;
  --ubc-secondary-blue-3: #40b4e5;
  --ubc-secondary-blue-4: #6ec4e8;
  --ubc-secondary-blue-5: #97d4e9;
}

/* Width of the content in the website is 1000px and the content is centred */
/* in the page */
body {
  width: 1000px;
  margin: auto;
  background-color: var(--ubc-blue);
  /* border: 3px solid var(--ubc-white); */
}

#logo img {
  width: 160px;
  height: 218px;
}

#logo {
  display: inline-block;
  padding: 20px;
  border: 5px solid var(--ubc-white);
}

#welcomeBanner img {
  width: 735px;
  height: 218px;
}

#welcomeBanner h1 {
  position: relative;
  top: -8px;
  right: 20px;
  text-align: right;
  margin-top: -45px;
  margin-bottom: 0px;
  padding: 0;
  color: var(--ubc-white);
  font-size: 45px;
}

#welcomeBanner {
  display: inline-block;
  border: 5px solid var(--ubc-white);
  padding: 20px;
  padding-bottom: 13px;
}

.product {
  margin: 16px;
  padding: 20px 20px 47px 20px;
  float: left;
  text-align: center;
  background-color: var(--ubc-secondary-blue-5);
  color: var(--ubc-blue);
  border: 3px solid var(--ubc-blue);
}

.product:hover {
  cursor: pointer;
  background-color: var(--ubc-secondary-blue-1);
  color: var(--ubc-white);
  border: 3px solid var(--ubc-white);
}

#productList {
  display: inline-block;
  width: 834px;
  margin-left: 14px;
}

.product_images {
  position:relative;
  left: 0;
  top: 0;
}

.product_pic {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

#show_cart {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: var(--ubc-secondary-blue-5);
  height: 50px;
  width: 120px;
  z-index: 100;
  border: 5px solid var(--ubc-blue);
  text-align: center;
  color: var(--ubc-blue);
  font-weight: bold;
  font-size: 15px;
}

#show_cart:hover {
  cursor: pointer;
  background-color: var(--ubc-secondary-blue-1);
  border: 5px solid var(--ubc-white);
  color: var(--ubc-white);
}

.cart_image {
  visibility: hidden;
  width: 200px;
  height: 200px;
  position: relative;
  background: rgba(110, 110, 110, 0.75);
  top: 0;
  left: 0;
}

.product button {
  visibility: hidden;
  width: 90px;
  height: 30px;
  position: absolute;
  top: 100px;
  color: var(--ubc-white);
  font-weight: bold;
  font-size: 20px;
}

.add_button {
  background: green;
  left: 55px;
  border: 2px solid green;
}

.add_button:hover {
  border: 2px solid white;
}

.remove_button {
  display: none;
  background: red;
  left: 105px;
  border: 2px solid red;
}

.remove_button:hover {
  border: 2px solid white;
}

.product:hover .cart_image {
  visibility: visible;
}

.product:hover .add_button {
  cursor: pointer;
  visibility: visible;
}

.product:hover .remove_button {
  cursor: pointer;
  visibility: visible;
}

.title {
  text-align: center;
  font-weight: normal;
  width: 200px;
  margin: 0px;
}

.product:hover .title {
  font-weight: bold;
}

#navigationMenu {
  display: inline-block;
  float: left;
}

#navigationMenu ul {
  display: inline-block;
  float: left;
  width: 146px;
  padding: 0px;
  margin-left: 5px;
  list-style-type: none;
  background-color: var(--ubc-secondary-blue-5);
}

#navigationMenu li {
  text-align: center;
  padding: 2px 0px;
  border: 3px solid var(--ubc-blue);
  color: var(--ubc-blue);
}

/*
Change the background to a darker blue when hovered and make the text bold
white
*/
#navigationMenu li:hover {
  cursor: pointer;
  background-color: var(--ubc-secondary-blue-1);
  color: var(--ubc-white);
  font-weight: bold;
  border: 3px solid var(--ubc-white);
}

/*
Normally the price will be hidden, and up 50px from its normal position.
The background for the price will be a grey with 0.75 opacity
*/
.price {
  visibility: hidden;
  position: relative;
  margin-top: -50px;
  background: rgba(169, 169, 169, 0.75);
  color: black;
  font-weight: bold;
  }

/* When hovered, we can show the price */
.product:hover .price {
  visibility: visible;
}

#footer {
  color: var(--ubc-blue);
  background-color: var(--ubc-secondary-blue-5);
  width: 220px;
  text-align: center;
  padding: 5px 380px;
  margin: auto;
  margin-bottom: 20px;
  border: 3px solid var(--ubc-white);
}

#footer:hover {
  background-color: var(--ubc-secondary-blue-1);
  color: var(--ubc-white);
}

#footer a {
  color: var(--ubc-secondary-blue-1);
  text-decoration: none;
}
#footer:hover a {
  color: var(--ubc-secondary-blue-5);
  text-decoration: none;
}

#footer a:hover {
  color: var(--ubc-secondary-blue-5);
  text-decoration: none;
  font-weight: bold;
}

#footer #inactive_time {
  margin-bottom: 5px;
  margin-top: 10px;
}

/* Show Cart Modal */
#cartModal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--ubc-secondary-blue-1);
  color: var(--ubc-white);
  font-size: 25px;
  font-weight: bold;
}

.modal-body {
  color: var(--ubc-blue);
  padding: 2px 16px;
}

.modal-footer {
  padding: 20px 30px;
  background-color: var(--ubc-secondary-blue-1);
  color: var(--ubc-white);
}

.modal-footer p {
  float: right;
  position: relative;
  top: -10px;
  margin: 0px;
  font-size: 20px;
  width: 84px;
  font-weight: bold;
}

.modal-footer p:hover {
  color: var(--ubc-blue);
  cursor: pointer;
  text-decoration: none;
}

.modal-content {
  position: relative;
  background-color: var(--ubc-white);
  margin: auto;
  top: 50%;
  transform: translateY(-50%); /* Helps keep modal centred */
  bottom: auto;
  padding: 0px;
  width: 1000px;

}

.close {
  color: var(--ubc-white);
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--ubc-blue);
  text-decoration: none;
  cursor: pointer;
}

#cart_items {
  width: 100%;
  margin: auto;
}

#cart_items td {
  text-align: center;
  width: 1%;
}

#cart-total {
  font-weight: bold;
}

#subtotal {
  font-weight: bold;
}

/* Don't ever show the buttons for the subtotal line */
#subtotal .inc_button,
#subtotal .dec_button {
  visibility: hidden;
}

.cart-inc-dec button {
  width: 30px;
  height: 30px;
  color: var(--ubc-white);
  font-size: 20px;
  font-weight: bold;
}

.inc_button {
  background: green;
  border: 2px solid white;
}

.inc_button:hover {
  border: 2px solid green;
}

.dec_button {
  background: red;
  border: 2px solid white;
}

.dec_button:hover {
  border: 2px solid red;
}

.out-of-stock {
  visibility: hidden;
  position: relative;
  margin-top: -70px;
  background: rgba(169, 169, 169, 0.75);
  color: black;
  font-weight: bold;
  font-size: 20px;
}
